body{
    padding-top: 130px;
}
/*!utility**************************************/
.bordo{
    border: 1px solid red;
}
.clear-fix::after{
    content: "";
    clear: both;
    display: table;
}
.img-index{
    height: 50px;
}
/*fixed proprietà*****************************************************/
#main-navbar,
header{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1;
}
#main-navbar{
    top: 50px;
}
/*!header*************************************************/
#sony-head-logo{
    height: 20px;
}
header{
    background-color: black;
}
/*!nav*******************************************************/
.navbar a{
    font-weight: bold;
}
/*!jumbo***********************************************/
.jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-position: top center;
    background-size: cover;
    padding-top: 285px;
    padding-bottom: 40px;
}
/*!related*************************************************************/
.related .col{
    transition: 0.3s linear;
}
.related img:hover{
    box-shadow: 0px 0px 2px 3px blue
}
.related .col:hover{
    transform: translateY(-20px);
    cursor: pointer;
}
/*!ps5*******************************************************/
.ps5-alt-catalogue .col:hover{
    box-shadow: inset 0 -1px blue;
    cursor: pointer;
}
/*!new games*************************************************************/
.new-jumbo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top center;
    background-size: cover;
}
.new-jumbo img{
    height: 260px;
}


.new-uscite{
    background-color: #1f1f1f;
}
/*!ps4*************************************************************/
/*!ps plus**************************************************/
.ps-plus-month-games{
    height: 300px;
    float: right;
    margin-right: 80px;
}
.ps-plus{
    background-color: #bebcbb;
}
/*!sales*************************************************************/
/*!ps now*************************************************************/
.ps-now{
    background-color: #161c3b;
}
/*!social*************************************************************/
.social img:hover{
    cursor: pointer;
}
/*!footer****************************************************************/
footer{
    background-color: #00439c;
}
.foot-list a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.footer-bot{
    max-width: 400px;
}
